In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from keys import API_KEY

In [32]:
def get_energy_data_batches():
    url = "https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/"

    period_test = []

    group_1 = [1,3,5,7,8,10,12]
    group_2 = [4,6,9,11]

    for i in range(1, 13):
        month_day_decider = 0
        if i in group_1:
            month_day_decider = 32
        elif i in group_2:
            month_day_decider = 31
        else:
            month_day_decider = 29
        if i < 10:
            placeholder_str = f"0{i}"
        else:
            placeholder_str = f"{i}"
        for x in range(1, month_day_decider):
            if x < 10:
                period_test.append((f"2024-{placeholder_str}-0{x}T00", f"2024-{placeholder_str}-0{x}T23"))
            else:
                period_test.append((f"2024-{placeholder_str}-{x}T00", f"2024-{placeholder_str}-{x}T23"))
    print(len(period_test))


    time_periods = [
        ("2025-05-31T00", "2025-05-31T23"),
        ("2025-06-1T00", "2025-06-1T23")
    ]
    
    all_data = []
    total_records = 0
    
    print("Starting data collection process...")
    
    for start_date, end_date in period_test:
            
        params = {
            "api_key": API_KEY,
            "frequency": "hourly",
            "data[0]": "value",
            "start": start_date,
            "end": end_date,
            "sort[0][column]": "period",
            "sort[0][direction]": "asc",
            "length": 5000
        }
        
        print(f"Requesting data from {start_date} to {end_date}...")
        response = requests.get(url, params=params)
        
        if response.status_code == 200:
            data = response.json()
            if 'response' in data and 'data' in data['response']:
                batch = pd.DataFrame(data['response']['data'])
                batch_size = len(batch)
                
                if batch_size > 0:
                    all_data.append(batch)
                    total_records += batch_size
                    print(f"Retrieved {batch_size} records. Total collected: {total_records}")
                else:
                    print(f"No data returned for period {start_date} to {end_date}")
        else:
            print(f"API request failed with status code {response.status_code}")
        
    
    if not all_data:
        print("No data was collected.")
        return None
        
    energy_df = pd.concat(all_data, ignore_index=True)
    print(f"Successfully collected a total of {len(energy_df)} records")

    energy_df['period'] = pd.to_datetime(energy_df['period'])
    energy_df['value'] = pd.to_numeric(energy_df['value'], errors='coerce')
    
    return energy_df

energy_df = get_energy_data_batches()

if energy_df is not None and not energy_df.empty:
    print("\nData collection successful!")
    print(f"Dataset shape: {energy_df.shape}")

else:
    print("Data collection failed.")

365
Starting data collection process...
Requesting data from 2024-01-01T00 to 2024-01-01T23...
Retrieved 390 records. Total collected: 390
Requesting data from 2024-01-02T00 to 2024-01-02T23...
Retrieved 390 records. Total collected: 780
Requesting data from 2024-01-03T00 to 2024-01-03T23...
Retrieved 390 records. Total collected: 1170
Requesting data from 2024-01-04T00 to 2024-01-04T23...
Retrieved 390 records. Total collected: 1560
Requesting data from 2024-01-05T00 to 2024-01-05T23...
Retrieved 390 records. Total collected: 1950
Requesting data from 2024-01-06T00 to 2024-01-06T23...
Retrieved 392 records. Total collected: 2342
Requesting data from 2024-01-07T00 to 2024-01-07T23...
Retrieved 390 records. Total collected: 2732
Requesting data from 2024-01-08T00 to 2024-01-08T23...
Retrieved 390 records. Total collected: 3122
Requesting data from 2024-01-09T00 to 2024-01-09T23...
Retrieved 390 records. Total collected: 3512
Requesting data from 2024-01-10T00 to 2024-01-10T23...
Retrieved 390 records. Total collected: 3902
Requesting data from 2024-01-11T00 to 2024-01-11T23...
Retrieved 390 records. Total collected: 4292
Requesting data from 2024-01-12T00 to 2024-01-12T23...
Retrieved 390 records. Total collected: 4682
Requesting data from 2024-01-13T00 to 2024-01-13T23...
Retrieved 391 records. Total collected: 5073
Requesting data from 2024-01-14T00 to 2024-01-14T23...
Retrieved 390 records. Total collected: 5463
Requesting data from 2024-01-15T00 to 2024-01-15T23...
Retrieved 390 records. Total collected: 5853
Requesting data from 2024-01-16T00 to 2024-01-16T23...
Retrieved 390 records. Total collected: 6243
Requesting data from 2024-01-17T00 to 2024-01-17T23...
Retrieved 396 records. Total collected: 6639
Requesting data from 2024-01-18T00 to 2024-01-18T23...
Retrieved 391 records. Total collected: 7030
Requesting data from 2024-01-19T00 to 2024-01-19T23...
Retrieved 391 records. Total collected: 7421
Requesting data from 2024-01-20T00 to 2024-01-20T23...
Retrieved 390 records. Total collected: 7811
Requesting data from 2024-01-21T00 to 2024-01-21T23...
Retrieved 390 records. Total collected: 8201
Requesting data from 2024-01-22T00 to 2024-01-22T23...
Retrieved 390 records. Total collected: 8591
Requesting data from 2024-01-23T00 to 2024-01-23T23...
Retrieved 390 records. Total collected: 8981
Requesting data from 2024-01-24T00 to 2024-01-24T23...
Retrieved 390 records. Total collected: 9371
Requesting data from 2024-01-25T00 to 2024-01-25T23...
Retrieved 390 records. Total collected: 9761
Requesting data from 2024-01-26T00 to 2024-01-26T23...
Retrieved 390 records. Total collected: 10151
Requesting data from 2024-01-27T00 to 2024-01-27T23...
Retrieved 390 records. Total collected: 10541
Requesting data from 2024-01-28T00 to 2024-01-28T23...
Retrieved 390 records. Total collected: 10931
Requesting data from 2024-01-29T00 to 2024-01-29T23...
Retrieved 390 records. Total collected: 11321
Requesting data from 2024-01-30T00 to 2024-01-30T23...
Retrieved 390 records. Total collected: 11711
Requesting data from 2024-01-31T00 to 2024-01-31T23...
Retrieved 390 records. Total collected: 12101
Requesting data from 2024-02-01T00 to 2024-02-01T23...
Retrieved 390 records. Total collected: 12491
Requesting data from 2024-02-02T00 to 2024-02-02T23...
Retrieved 390 records. Total collected: 12881
Requesting data from 2024-02-03T00 to 2024-02-03T23...
Retrieved 390 records. Total collected: 13271
Requesting data from 2024-02-04T00 to 2024-02-04T23...
Retrieved 390 records. Total collected: 13661
Requesting data from 2024-02-05T00 to 2024-02-05T23...
Retrieved 390 records. Total collected: 14051
Requesting data from 2024-02-06T00 to 2024-02-06T23...
Retrieved 390 records. Total collected: 14441
Requesting data from 2024-02-07T00 to 2024-02-07T23...
Retrieved 390 records. Total collected: 14831
Requesting data from 2024-02-08T00 to 2024-02-08T23...
Retrieved 390 records. Total collected: 15221
Requesting data from 2024-02-09T00 to 2024-02-09T23...
Retrieved 390 records. Total collected: 15611
Requesting data from 2024-02-10T00 to 2024-02-10T23...
Retrieved 390 records. Total collected: 16001
Requesting data from 2024-02-11T00 to 2024-02-11T23...
Retrieved 390 records. Total collected: 16391
Requesting data from 2024-02-12T00 to 2024-02-12T23...
Retrieved 390 records. Total collected: 16781
Requesting data from 2024-02-13T00 to 2024-02-13T23...
Retrieved 391 records. Total collected: 17172
Requesting data from 2024-02-14T00 to 2024-02-14T23...
Retrieved 391 records. Total collected: 17563
Requesting data from 2024-02-15T00 to 2024-02-15T23...
Retrieved 391 records. Total collected: 17954
Requesting data from 2024-02-16T00 to 2024-02-16T23...
Retrieved 391 records. Total collected: 18345
Requesting data from 2024-02-17T00 to 2024-02-17T23...
Retrieved 391 records. Total collected: 18736
Requesting data from 2024-02-18T00 to 2024-02-18T23...
Retrieved 390 records. Total collected: 19126
Requesting data from 2024-02-19T00 to 2024-02-19T23...
Retrieved 390 records. Total collected: 19516
Requesting data from 2024-02-20T00 to 2024-02-20T23...
Retrieved 390 records. Total collected: 19906
Requesting data from 2024-02-21T00 to 2024-02-21T23...
Retrieved 390 records. Total collected: 20296
Requesting data from 2024-02-22T00 to 2024-02-22T23...
Retrieved 390 records. Total collected: 20686
Requesting data from 2024-02-23T00 to 2024-02-23T23...
Retrieved 390 records. Total collected: 21076
Requesting data from 2024-02-24T00 to 2024-02-24T23...
Retrieved 390 records. Total collected: 21466
Requesting data from 2024-02-25T00 to 2024-02-25T23...
Retrieved 390 records. Total collected: 21856
Requesting data from 2024-02-26T00 to 2024-02-26T23...
Retrieved 390 records. Total collected: 22246
Requesting data from 2024-02-27T00 to 2024-02-27T23...
Retrieved 390 records. Total collected: 22636
Requesting data from 2024-02-28T00 to 2024-02-28T23...
Retrieved 390 records. Total collected: 23026
Requesting data from 2024-03-01T00 to 2024-03-01T23...
Retrieved 390 records. Total collected: 23416
Requesting data from 2024-03-02T00 to 2024-03-02T23...
Retrieved 390 records. Total collected: 23806
Requesting data from 2024-03-03T00 to 2024-03-03T23...
Retrieved 390 records. Total collected: 24196
Requesting data from 2024-03-04T00 to 2024-03-04T23...
Retrieved 390 records. Total collected: 24586
Requesting data from 2024-03-05T00 to 2024-03-05T23...
Retrieved 390 records. Total collected: 24976
Requesting data from 2024-03-06T00 to 2024-03-06T23...
Retrieved 390 records. Total collected: 25366
Requesting data from 2024-03-07T00 to 2024-03-07T23...
Retrieved 390 records. Total collected: 25756
Requesting data from 2024-03-08T00 to 2024-03-08T23...
Retrieved 390 records. Total collected: 26146
Requesting data from 2024-03-09T00 to 2024-03-09T23...
Retrieved 390 records. Total collected: 26536
Requesting data from 2024-03-10T00 to 2024-03-10T23...
Retrieved 390 records. Total collected: 26926
Requesting data from 2024-03-11T00 to 2024-03-11T23...
Retrieved 389 records. Total collected: 27315
Requesting data from 2024-03-12T00 to 2024-03-12T23...
Retrieved 390 records. Total collected: 27705
Requesting data from 2024-03-13T00 to 2024-03-13T23...
Retrieved 390 records. Total collected: 28095
Requesting data from 2024-03-14T00 to 2024-03-14T23...
Retrieved 390 records. Total collected: 28485
Requesting data from 2024-03-15T00 to 2024-03-15T23...
Retrieved 390 records. Total collected: 28875
Requesting data from 2024-03-16T00 to 2024-03-16T23...
Retrieved 390 records. Total collected: 29265
Requesting data from 2024-03-17T00 to 2024-03-17T23...
Retrieved 390 records. Total collected: 29655
Requesting data from 2024-03-18T00 to 2024-03-18T23...
Retrieved 390 records. Total collected: 30045
Requesting data from 2024-03-19T00 to 2024-03-19T23...
Retrieved 390 records. Total collected: 30435
Requesting data from 2024-03-20T00 to 2024-03-20T23...
Retrieved 390 records. Total collected: 30825
Requesting data from 2024-03-21T00 to 2024-03-21T23...
Retrieved 389 records. Total collected: 31214
Requesting data from 2024-03-22T00 to 2024-03-22T23...
Retrieved 389 records. Total collected: 31603
Requesting data from 2024-03-23T00 to 2024-03-23T23...
Retrieved 389 records. Total collected: 31992
Requesting data from 2024-03-24T00 to 2024-03-24T23...
Retrieved 389 records. Total collected: 32381
Requesting data from 2024-03-25T00 to 2024-03-25T23...
Retrieved 389 records. Total collected: 32770
Requesting data from 2024-03-26T00 to 2024-03-26T23...
Retrieved 389 records. Total collected: 33159
Requesting data from 2024-03-27T00 to 2024-03-27T23...
Retrieved 389 records. Total collected: 33548
Requesting data from 2024-03-28T00 to 2024-03-28T23...
Retrieved 389 records. Total collected: 33937
Requesting data from 2024-03-29T00 to 2024-03-29T23...
Retrieved 389 records. Total collected: 34326
Requesting data from 2024-03-30T00 to 2024-03-30T23...
Retrieved 389 records. Total collected: 34715
Requesting data from 2024-03-31T00 to 2024-03-31T23...
Retrieved 390 records. Total collected: 35105
Requesting data from 2024-04-01T00 to 2024-04-01T23...
Retrieved 389 records. Total collected: 35494
Requesting data from 2024-04-02T00 to 2024-04-02T23...
Retrieved 389 records. Total collected: 35883
Requesting data from 2024-04-03T00 to 2024-04-03T23...
Retrieved 389 records. Total collected: 36272
Requesting data from 2024-04-04T00 to 2024-04-04T23...
Retrieved 389 records. Total collected: 36661
Requesting data from 2024-04-05T00 to 2024-04-05T23...
Retrieved 389 records. Total collected: 37050
Requesting data from 2024-04-06T00 to 2024-04-06T23...
Retrieved 389 records. Total collected: 37439
Requesting data from 2024-04-07T00 to 2024-04-07T23...
Retrieved 389 records. Total collected: 37828
Requesting data from 2024-04-08T00 to 2024-04-08T23...
Retrieved 389 records. Total collected: 38217
Requesting data from 2024-04-09T00 to 2024-04-09T23...
Retrieved 389 records. Total collected: 38606
Requesting data from 2024-04-10T00 to 2024-04-10T23...
Retrieved 389 records. Total collected: 38995
Requesting data from 2024-04-11T00 to 2024-04-11T23...
Retrieved 389 records. Total collected: 39384
Requesting data from 2024-04-12T00 to 2024-04-12T23...
Retrieved 384 records. Total collected: 39768
Requesting data from 2024-04-13T00 to 2024-04-13T23...
Retrieved 384 records. Total collected: 40152
Requesting data from 2024-04-14T00 to 2024-04-14T23...
Retrieved 384 records. Total collected: 40536
Requesting data from 2024-04-15T00 to 2024-04-15T23...
Retrieved 389 records. Total collected: 40925
Requesting data from 2024-04-16T00 to 2024-04-16T23...
Retrieved 389 records. Total collected: 41314
Requesting data from 2024-04-17T00 to 2024-04-17T23...
Retrieved 389 records. Total collected: 41703
Requesting data from 2024-04-18T00 to 2024-04-18T23...
Retrieved 389 records. Total collected: 42092
Requesting data from 2024-04-19T00 to 2024-04-19T23...
Retrieved 389 records. Total collected: 42481
Requesting data from 2024-04-20T00 to 2024-04-20T23...
Retrieved 390 records. Total collected: 42871
Requesting data from 2024-04-21T00 to 2024-04-21T23...
Retrieved 389 records. Total collected: 43260
Requesting data from 2024-04-22T00 to 2024-04-22T23...
Retrieved 389 records. Total collected: 43649
Requesting data from 2024-04-23T00 to 2024-04-23T23...
Retrieved 389 records. Total collected: 44038
Requesting data from 2024-04-24T00 to 2024-04-24T23...
Retrieved 389 records. Total collected: 44427
Requesting data from 2024-04-25T00 to 2024-04-25T23...
Retrieved 390 records. Total collected: 44817
Requesting data from 2024-04-26T00 to 2024-04-26T23...
Retrieved 390 records. Total collected: 45207
Requesting data from 2024-04-27T00 to 2024-04-27T23...
Retrieved 389 records. Total collected: 45596
Requesting data from 2024-04-28T00 to 2024-04-28T23...
Retrieved 389 records. Total collected: 45985
Requesting data from 2024-04-29T00 to 2024-04-29T23...
Retrieved 389 records. Total collected: 46374
Requesting data from 2024-04-30T00 to 2024-04-30T23...
Retrieved 389 records. Total collected: 46763
Requesting data from 2024-05-01T00 to 2024-05-01T23...
Retrieved 389 records. Total collected: 47152
Requesting data from 2024-05-02T00 to 2024-05-02T23...
Retrieved 389 records. Total collected: 47541
Requesting data from 2024-05-03T00 to 2024-05-03T23...
Retrieved 390 records. Total collected: 47931
Requesting data from 2024-05-04T00 to 2024-05-04T23...
Retrieved 389 records. Total collected: 48320
Requesting data from 2024-05-05T00 to 2024-05-05T23...
Retrieved 389 records. Total collected: 48709
Requesting data from 2024-05-06T00 to 2024-05-06T23...
Retrieved 389 records. Total collected: 49098
Requesting data from 2024-05-07T00 to 2024-05-07T23...
Retrieved 389 records. Total collected: 49487
Requesting data from 2024-05-08T00 to 2024-05-08T23...
Retrieved 384 records. Total collected: 49871
Requesting data from 2024-05-09T00 to 2024-05-09T23...
Retrieved 384 records. Total collected: 50255
Requesting data from 2024-05-10T00 to 2024-05-10T23...
Retrieved 389 records. Total collected: 50644
Requesting data from 2024-05-11T00 to 2024-05-11T23...
Retrieved 389 records. Total collected: 51033
Requesting data from 2024-05-12T00 to 2024-05-12T23...
Retrieved 389 records. Total collected: 51422
Requesting data from 2024-05-13T00 to 2024-05-13T23...
Retrieved 389 records. Total collected: 51811
Requesting data from 2024-05-14T00 to 2024-05-14T23...
Retrieved 389 records. Total collected: 52200
Requesting data from 2024-05-15T00 to 2024-05-15T23...
Retrieved 389 records. Total collected: 52589
Requesting data from 2024-05-16T00 to 2024-05-16T23...
Retrieved 389 records. Total collected: 52978
Requesting data from 2024-05-17T00 to 2024-05-17T23...
Retrieved 389 records. Total collected: 53367
Requesting data from 2024-05-18T00 to 2024-05-18T23...
Retrieved 389 records. Total collected: 53756
Requesting data from 2024-05-19T00 to 2024-05-19T23...
Retrieved 389 records. Total collected: 54145
Requesting data from 2024-05-20T00 to 2024-05-20T23...
Retrieved 389 records. Total collected: 54534
Requesting data from 2024-05-21T00 to 2024-05-21T23...
Retrieved 389 records. Total collected: 54923
Requesting data from 2024-05-22T00 to 2024-05-22T23...
Retrieved 389 records. Total collected: 55312
Requesting data from 2024-05-23T00 to 2024-05-23T23...
Retrieved 390 records. Total collected: 55702
Requesting data from 2024-05-24T00 to 2024-05-24T23...
Retrieved 389 records. Total collected: 56091
Requesting data from 2024-05-25T00 to 2024-05-25T23...
Retrieved 389 records. Total collected: 56480
Requesting data from 2024-05-26T00 to 2024-05-26T23...
Retrieved 389 records. Total collected: 56869
Requesting data from 2024-05-27T00 to 2024-05-27T23...
Retrieved 389 records. Total collected: 57258
Requesting data from 2024-05-28T00 to 2024-05-28T23...
Retrieved 389 records. Total collected: 57647
Requesting data from 2024-05-29T00 to 2024-05-29T23...
Retrieved 389 records. Total collected: 58036
Requesting data from 2024-05-30T00 to 2024-05-30T23...
Retrieved 389 records. Total collected: 58425
Requesting data from 2024-05-31T00 to 2024-05-31T23...
Retrieved 389 records. Total collected: 58814
Requesting data from 2024-06-01T00 to 2024-06-01T23...
Retrieved 389 records. Total collected: 59203
Requesting data from 2024-06-02T00 to 2024-06-02T23...
Retrieved 389 records. Total collected: 59592
Requesting data from 2024-06-03T00 to 2024-06-03T23...
Retrieved 389 records. Total collected: 59981
Requesting data from 2024-06-04T00 to 2024-06-04T23...
Retrieved 389 records. Total collected: 60370
Requesting data from 2024-06-05T00 to 2024-06-05T23...
Retrieved 389 records. Total collected: 60759
Requesting data from 2024-06-06T00 to 2024-06-06T23...
Retrieved 389 records. Total collected: 61148
Requesting data from 2024-06-07T00 to 2024-06-07T23...
Retrieved 389 records. Total collected: 61537
Requesting data from 2024-06-08T00 to 2024-06-08T23...
Retrieved 389 records. Total collected: 61926
Requesting data from 2024-06-09T00 to 2024-06-09T23...
Retrieved 389 records. Total collected: 62315
Requesting data from 2024-06-10T00 to 2024-06-10T23...
Retrieved 389 records. Total collected: 62704
Requesting data from 2024-06-11T00 to 2024-06-11T23...
Retrieved 389 records. Total collected: 63093
Requesting data from 2024-06-12T00 to 2024-06-12T23...
Retrieved 389 records. Total collected: 63482
Requesting data from 2024-06-13T00 to 2024-06-13T23...
Retrieved 389 records. Total collected: 63871
Requesting data from 2024-06-14T00 to 2024-06-14T23...
Retrieved 389 records. Total collected: 64260
Requesting data from 2024-06-15T00 to 2024-06-15T23...
Retrieved 389 records. Total collected: 64649
Requesting data from 2024-06-16T00 to 2024-06-16T23...
Retrieved 389 records. Total collected: 65038
Requesting data from 2024-06-17T00 to 2024-06-17T23...
Retrieved 389 records. Total collected: 65427
Requesting data from 2024-06-18T00 to 2024-06-18T23...
Retrieved 389 records. Total collected: 65816
Requesting data from 2024-06-19T00 to 2024-06-19T23...
Retrieved 389 records. Total collected: 66205
Requesting data from 2024-06-20T00 to 2024-06-20T23...
Retrieved 389 records. Total collected: 66594
Requesting data from 2024-06-21T00 to 2024-06-21T23...
Retrieved 389 records. Total collected: 66983
Requesting data from 2024-06-22T00 to 2024-06-22T23...
Retrieved 389 records. Total collected: 67372
Requesting data from 2024-06-23T00 to 2024-06-23T23...
Retrieved 389 records. Total collected: 67761
Requesting data from 2024-06-24T00 to 2024-06-24T23...
Retrieved 390 records. Total collected: 68151
Requesting data from 2024-06-25T00 to 2024-06-25T23...
Retrieved 384 records. Total collected: 68535
Requesting data from 2024-06-26T00 to 2024-06-26T23...
Retrieved 384 records. Total collected: 68919
Requesting data from 2024-06-27T00 to 2024-06-27T23...
Retrieved 384 records. Total collected: 69303
Requesting data from 2024-06-28T00 to 2024-06-28T23...
Retrieved 384 records. Total collected: 69687
Requesting data from 2024-06-29T00 to 2024-06-29T23...
Retrieved 384 records. Total collected: 70071
Requesting data from 2024-06-30T00 to 2024-06-30T23...
Retrieved 380 records. Total collected: 70451
Requesting data from 2024-07-01T00 to 2024-07-01T23...
Retrieved 384 records. Total collected: 70835
Requesting data from 2024-07-02T00 to 2024-07-02T23...
Retrieved 384 records. Total collected: 71219
Requesting data from 2024-07-03T00 to 2024-07-03T23...
Retrieved 384 records. Total collected: 71603
Requesting data from 2024-07-04T00 to 2024-07-04T23...
Retrieved 384 records. Total collected: 71987
Requesting data from 2024-07-05T00 to 2024-07-05T23...
Retrieved 384 records. Total collected: 72371
Requesting data from 2024-07-06T00 to 2024-07-06T23...
Retrieved 384 records. Total collected: 72755
Requesting data from 2024-07-07T00 to 2024-07-07T23...
Retrieved 384 records. Total collected: 73139
Requesting data from 2024-07-08T00 to 2024-07-08T23...
Retrieved 384 records. Total collected: 73523
Requesting data from 2024-07-09T00 to 2024-07-09T23...
Retrieved 384 records. Total collected: 73907
Requesting data from 2024-07-10T00 to 2024-07-10T23...
Retrieved 384 records. Total collected: 74291
Requesting data from 2024-07-11T00 to 2024-07-11T23...
Retrieved 384 records. Total collected: 74675
Requesting data from 2024-07-12T00 to 2024-07-12T23...
Retrieved 384 records. Total collected: 75059
Requesting data from 2024-07-13T00 to 2024-07-13T23...
Retrieved 384 records. Total collected: 75443
Requesting data from 2024-07-14T00 to 2024-07-14T23...
Retrieved 380 records. Total collected: 75823
Requesting data from 2024-07-15T00 to 2024-07-15T23...
Retrieved 389 records. Total collected: 76212
Requesting data from 2024-07-16T00 to 2024-07-16T23...
Retrieved 354 records. Total collected: 76566
Requesting data from 2024-07-17T00 to 2024-07-17T23...

In [ ]:
def get_energy_data_batches():
    url = "https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/"

    # Example: fetch all of 2023
    start_date = "2023-01-01T00"
    end_date = "2023-12-31T23"

    len_of_request = 5000
    offset = 0
    total_records = 0

    params = {
        "api_key": API_KEY,
        "frequency": "hourly",
        "data[0]": "value",
        "start": start_date,
        "end": end_date,
        "sort[0][column]": "period",
        "sort[0][direction]": "asc",
        "length": len_of_request
    }

    all_data = []

    print(f"Requesting monthly data from {start_date} to {end_date}...")
    print("Starting paginated data collection....")
    while True:
        params_copy = params.copy()
        params_copy['offset'] = offset
        print(f"Requesting {offset} to {len_of_request + offset - 1} rows...")
        response = requests.get(url, params=params_copy)
        if response.status_code != 200:
            print("Could not fetch the data from the source")
        
        data = response.json()
        if 'response' in data and 'data' in data['response']:
            batch = pd.DataFrame(data['response']['data'])
            print(f"Retrieved {len(batch)} records.")
            if batch.empty:
                print("No data returned")
                break
            all_data.append(batch)
            batch_size = len(batch)
            total_records += batch_size
            print(f"Retrieved {batch_size} data and data amount totalled to {total_records}")
            if batch_size < len_of_request:
                print(f"Last batch is collected. Ending pagination.")
                break
            offset += batch_size
        else:
            print("No data returned for this batch.")
            break
    if batch.empty:
        print("No data was collected")
        return None

    energy_df = pd.concat(all_data, ignore_index=True)
    print(f"sucessfully collected {len(energy_df)} records")
    energy_df['period'] = pd.to_datetime(energy_df['period'])
    energy_df['value'] = pd.to_numeric(energy_df['value'], errors='coerce')

    return energy_df

energy_df = get_energy_data_batches()

if energy_df is not None and not energy_df.empty:
    print("\nData collection successful!")
    print(f"Dataset shape: {energy_df.shape}")
else:
    print("Data collection failed.")

Requesting monthly data from 2023-01-01T00 to 2023-12-31T23...
Starting paginated data collection....
Requesting 0 to 4999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 5000
Requesting 5000 to 9999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 10000
Requesting 10000 to 14999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 15000
Requesting 15000 to 19999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 20000
Requesting 20000 to 24999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 25000
Requesting 25000 to 29999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 30000
Requesting 30000 to 34999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 35000
Requesting 35000 to 39999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 40000
Requesting 40000 to 44999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 45000
Requesting 45000 to 49999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 50000
Requesting 50000 to 54999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 55000
Requesting 55000 to 59999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 60000
Requesting 60000 to 64999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 65000
Requesting 65000 to 69999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 70000
Requesting 70000 to 74999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 75000
Requesting 75000 to 79999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 80000
Requesting 80000 to 84999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 85000
Requesting 85000 to 89999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 90000
Requesting 90000 to 94999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 95000
Requesting 95000 to 99999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 100000
Requesting 100000 to 104999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 105000
Requesting 105000 to 109999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 110000
Requesting 110000 to 114999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 115000
Requesting 115000 to 119999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 120000
Requesting 120000 to 124999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 125000
Requesting 125000 to 129999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 130000
Requesting 130000 to 134999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 135000
Requesting 135000 to 139999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 140000
Requesting 140000 to 144999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 145000
Requesting 145000 to 149999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 150000
Requesting 150000 to 154999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 155000
Requesting 155000 to 159999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 160000
Requesting 160000 to 164999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 165000
Requesting 165000 to 169999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 170000
Requesting 170000 to 174999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 175000
Requesting 175000 to 179999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 180000
Requesting 180000 to 184999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 185000
Requesting 185000 to 189999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 190000
Requesting 190000 to 194999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 195000
Requesting 195000 to 199999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 200000
Requesting 200000 to 204999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 205000
Requesting 205000 to 209999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 210000
Requesting 210000 to 214999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 215000
Requesting 215000 to 219999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 220000
Requesting 220000 to 224999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 225000
Requesting 225000 to 229999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 230000
Requesting 230000 to 234999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 235000
Requesting 235000 to 239999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 240000
Requesting 240000 to 244999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 245000
Requesting 245000 to 249999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 250000
Requesting 250000 to 254999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 255000
Requesting 255000 to 259999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 260000
Requesting 260000 to 264999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 265000
Requesting 265000 to 269999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 270000
Requesting 270000 to 274999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 275000
Requesting 275000 to 279999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 280000
Requesting 280000 to 284999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 285000
Requesting 285000 to 289999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 290000
Requesting 290000 to 294999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 295000
Requesting 295000 to 299999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 300000
Requesting 300000 to 304999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 305000
Requesting 305000 to 309999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 310000
Requesting 310000 to 314999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 315000
Requesting 315000 to 319999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 320000
Requesting 320000 to 324999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 325000
Requesting 325000 to 329999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 330000
Requesting 330000 to 334999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 335000
Requesting 335000 to 339999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 340000
Requesting 340000 to 344999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 345000
Requesting 345000 to 349999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 350000
Requesting 350000 to 354999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 355000
Requesting 355000 to 359999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 360000
Requesting 360000 to 364999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 365000
Requesting 365000 to 369999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 370000
Requesting 370000 to 374999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 375000
Requesting 375000 to 379999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 380000
Requesting 380000 to 384999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 385000
Requesting 385000 to 389999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 390000
Requesting 390000 to 394999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 395000
Requesting 395000 to 399999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 400000
Requesting 400000 to 404999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 405000
Requesting 405000 to 409999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 410000
Requesting 410000 to 414999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 415000
Requesting 415000 to 419999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 420000
Requesting 420000 to 424999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 425000
Requesting 425000 to 429999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 430000
Requesting 430000 to 434999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 435000
Requesting 435000 to 439999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 440000
Requesting 440000 to 444999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 445000
Requesting 445000 to 449999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 450000
Requesting 450000 to 454999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 455000
Requesting 455000 to 459999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 460000
Requesting 460000 to 464999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 465000
Requesting 465000 to 469999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 470000
Requesting 470000 to 474999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 475000
Requesting 475000 to 479999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 480000
Requesting 480000 to 484999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 485000
Requesting 485000 to 489999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 490000
Requesting 490000 to 494999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 495000
Requesting 495000 to 499999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 500000
Requesting 500000 to 504999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 505000
Requesting 505000 to 509999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 510000
Requesting 510000 to 514999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 515000
Requesting 515000 to 519999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 520000
Requesting 520000 to 524999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 525000
Requesting 525000 to 529999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 530000
Requesting 530000 to 534999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 535000
Requesting 535000 to 539999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 540000
Requesting 540000 to 544999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 545000
Requesting 545000 to 549999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 550000
Requesting 550000 to 554999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 555000
Requesting 555000 to 559999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 560000
Requesting 560000 to 564999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 565000
Requesting 565000 to 569999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 570000
Requesting 570000 to 574999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 575000
Requesting 575000 to 579999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 580000
Requesting 580000 to 584999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 585000
Requesting 585000 to 589999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 590000
Requesting 590000 to 594999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 595000
Requesting 595000 to 599999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 600000
Requesting 600000 to 604999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 605000
Requesting 605000 to 609999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 610000
Requesting 610000 to 614999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 615000
Requesting 615000 to 619999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 620000
Requesting 620000 to 624999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 625000
Requesting 625000 to 629999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 630000
Requesting 630000 to 634999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 635000
Requesting 635000 to 639999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 640000
Requesting 640000 to 644999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 645000
Requesting 645000 to 649999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 650000
Requesting 650000 to 654999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 655000
Requesting 655000 to 659999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 660000
Requesting 660000 to 664999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 665000
Requesting 665000 to 669999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 670000
Requesting 670000 to 674999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 675000
Requesting 675000 to 679999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 680000
Requesting 680000 to 684999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 685000
Requesting 685000 to 689999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 690000
Requesting 690000 to 694999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 695000
Requesting 695000 to 699999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 700000
Requesting 700000 to 704999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 705000
Requesting 705000 to 709999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 710000
Requesting 710000 to 714999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 715000
Requesting 715000 to 719999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 720000
Requesting 720000 to 724999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 725000
Requesting 725000 to 729999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 730000
Requesting 730000 to 734999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 735000
Requesting 735000 to 739999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 740000
Requesting 740000 to 744999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 745000
Requesting 745000 to 749999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 750000
Requesting 750000 to 754999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 755000
Requesting 755000 to 759999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 760000
Requesting 760000 to 764999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 765000
Requesting 765000 to 769999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 770000
Requesting 770000 to 774999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 775000
Requesting 775000 to 779999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 780000
Requesting 780000 to 784999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 785000
Requesting 785000 to 789999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 790000
Requesting 790000 to 794999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 795000
Requesting 795000 to 799999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 800000
Requesting 800000 to 804999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 805000
Requesting 805000 to 809999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 810000
Requesting 810000 to 814999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 815000
Requesting 815000 to 819999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 820000
Requesting 820000 to 824999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 825000
Requesting 825000 to 829999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 830000
Requesting 830000 to 834999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 835000
Requesting 835000 to 839999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 840000
Requesting 840000 to 844999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 845000
Requesting 845000 to 849999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 850000
Requesting 850000 to 854999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 855000
Requesting 855000 to 859999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 860000
Requesting 860000 to 864999 rows...
Retrieved 5000 records.
Retrieved 5000 data and data amount totalled to 865000
Requesting 865000 to 869999 rows...
Retrieved 5000 records.

In [53]:
energy_df

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2023-01-01,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,1956.0,megawatthours
1,2023-01-01,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,971.0,megawatthours
2,2023-01-01,AECI,"Associated Electric Cooperative, Inc.",WND,Wind,155.0,megawatthours
3,2023-01-01,AVA,Avista Corporation,NG,Natural Gas,214.0,megawatthours
4,2023-01-01,AVA,Avista Corporation,OTH,Other,111.0,megawatthours
...,...,...,...,...,...,...,...
9687,2023-01-02,WALC,Western Area Power Administration - Desert Sou...,WAT,Hydro,192.0,megawatthours
9688,2023-01-02,WALC,Western Area Power Administration - Desert Sou...,WND,Wind,97.0,megawatthours
9689,2023-01-02,WAUW,Western Area Power Administration - Upper Grea...,WAT,Hydro,69.0,megawatthours
9690,2023-01-02,WWA,"NaturEner Wind Watch, LLC",WND,Wind,46.0,megawatthours
9691,2023-01-02,YAD,"Alcoa Power Generating, Inc. - Yadkin Division",WAT,Hydro,132.0,megawatthours

In [25]:
if energy_df is not None and not energy_df.empty:
    print("Hour distribution in energy_df AFTER dropna():")
    print(energy_df['period'].dt.hour.value_counts().sort_index())
else:
    print("energy_df is empty or None after dropna().")

Hour distribution in energy_df AFTER dropna():
period
0    142866
Name: count, dtype: int64

In [35]:
energy_df.tail()

,period,respondent,respondent-name,fueltype,type-name,value,value-units,hour
142861,2024-12-31,WALC,Western Area Power Administration - Desert Sou...,WAT,Hydro,0.0,megawatthours,0
142862,2024-12-31,WALC,Western Area Power Administration - Desert Sou...,WND,Wind,81.0,megawatthours,0
142863,2024-12-31,WAUW,Western Area Power Administration - Upper Grea...,WAT,Hydro,69.0,megawatthours,0
142864,2024-12-31,WWA,"NaturEner Wind Watch, LLC",WND,Wind,0.0,megawatthours,0
142865,2024-12-31,YAD,"Alcoa Power Generating, Inc. - Yadkin Division",WAT,Hydro,123.0,megawatthours,0

In [26]:
val_mean = energy_df["value"].mean()
energy_df['value'] = energy_df['value'].fillna(val_mean)

In [27]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142866 entries, 0 to 142865
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   period           142866 non-null  datetime64[ns]
 1   respondent       142866 non-null  object
 2   respondent-name  142866 non-null  object
 3   fueltype         142866 non-null  object
 4   type-name        142866 non-null  object
 5   value            142866 non-null  float64
 6   value-units      142866 non-null  object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 7.6+ MB

In [28]:
total_electric_used = energy_df['value'].sum()
total_electric_used

577939053.5139146

In [32]:
energy_df["hour"] = energy_df["period"].dt.hour

In [34]:
print("Distribution of hours in the original data:")
print(energy_df['period'].dt.hour.value_counts().sort_index())

# Check a few sample rows to see the actual timestamps
print("\nSample rows with period values:")
sample_rows = energy_df.sample(min(10, len(energy_df)))
print(sample_rows[['period', 'fueltype', 'value']])

# Check if all periods are on the same date(s)
print("\nUnique dates in the dataset:")
print(energy_df['period'].dt.date.value_counts().head())

# Examine how API calls were made
print("\nChecking your API call parameters:")
print("First few period_test tuples:")
for i, (start, end) in enumerate(period_test[:5]):
    print(f"{i}: {start} to {end}")

Distribution of hours in the original data:
period
0    142866
Name: count, dtype: int64

Sample rows with period values:
           period fueltype    value
91177  2024-08-23      WND    315.0
80637  2024-07-27      OTH    601.0
132537 2024-12-06      SUN     36.0
26239  2024-03-09       NG  27963.0
99196  2024-09-13       NG   1007.0
41203  2024-04-16      SUN     15.0
120564 2024-11-07      BAT   1865.0
82119  2024-07-31      OTH    671.0
128587 2024-11-26      WAT  33067.0
44     2024-01-01      WAT   1172.0

Unique dates in the dataset:
period
2024-12-31    413
2024-12-30    412
2024-12-27    409
2024-12-26    409
2024-12-25    409
Name: count, dtype: int64

Checking your API call parameters:
First few period_test tuples:

NameError: name 'period_test' is not defined

In [33]:
data = energy_df.groupby(["hour", "fueltype"])["value"].sum()
data_table = data.unstack(fill_value=0)
data_table.head(100)
print(data_table.index.unique())

Index([0], dtype='int32', name='hour')